
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmax;
}
.hot{
  margin: 2vmax;
  padding: 1vmax;
  color: rgb(82, 82, 82);
}
.hot:hover{
  text-decoration: none;
  color: orangered;
  }